@import "../../styles/variables";
@import "../../styles/mixins";

.entry {
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  color: $color-neutral-dark;
  padding: $space-1 $space-2;

  @include mobile {
    padding: $space-1 $space-4;
  }
}
